/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
/* Elemen di bawah ini harus di tulis sebelum media screen supaya efek responsive bisa berjalan */
.accordion{width: 65%; margin:5px auto;}
.accordion:hover{box-shadow:0px 0px 10px 0px #B61E79;}
/* Mengatur jarak image dengan padding */
.card-1{width: auto; margin: 2px auto; padding: 0px; border: none!important; border-radius: 30px!important;}
.card-1:hover{box-shadow:0px 0px 10px 0px #B61E79 !important;}
.card-2{width: 50%; margin: 30px auto; padding: 10px; border: none; border-radius: 10px;}
.card-2:hover{box-shadow:0px 0px 10px 0px #B61E79;}
.card-3{width:''; margin: 3px auto; padding: 5px; border: none!important; border-radius: 5px!important;}
.card-3:hover{box-shadow:0px 0px 10px 0px black !important;}
.container-3{margin: 10px auto !important;}

.footer{background-color: black; padding: 30px;}
.footer-icon{margin: 7px; width: 20px;}
.footer-icon:hover{margin: 7px;}
.footer-li{border: 1px solid #B61E79; background-color: #B61E79; border-radius: 10px; margin: 10px; padding: 10px 5px; display: inline;}
.footer-li:hover{border: none; box-shadow:0px 0px 10px 4px #B61E79;}
.footer-p{/*border: 2px solid white*/ margin: 0px auto; padding: 10px; width: 95%;}
.footer-ul{border: 2px solid white; display: grid; 
  grid-template-columns: auto; 
  list-style-type: none; margin: 0px auto; padding: 10px; width: 100%;}

.h1-font{font-size: 30px;}
.p1-font{font-size: 25px;}
.p2-font{font-size: 17px;}

@media screen and (min-width: 870x){
  .container-3{margin: 10px 50%;}
}
/* Penulisan angka font harus tanpa spasi (382px bukan 382 px) */
@media screen and (max-width: 1000px){
  .footer-li{margin:5px;}
}
@media screen and (max-width: 900px){
  .accordion{width: 70%;}
  .card-2{width: 60%;}
  .p1-font{font-size: 24px;}
}
@media screen and (max-width: 800px){
  .accordion{width: 75%;}
  .card-2{width: 70%;}
  .h1-font{font-size: 28px;}
  .p1-font{font-size: 23px;}
}
@media screen and (max-width: 700px){
  .accordion{width: 80%;}
  .card-2{width: 80%;}
  .h1-font{font-size: 27px;}
  .p1-font{font-size: 22px;}
}
@media screen and (max-width: 600px){
  .accordion{width: 85%;}
  .card-2{width: 85%;}
  .h1-font{font-size: 26px;}
  .p1-font{font-size: 21px;}
  .p2-font{font-size: 16px;}
}
@media screen and (max-width: 500px){
  .accordion{width: 90%;}
  .card-2{width: 90%;}
  .h1-font{font-size: 24px;}
  .mr-auto{margin: 10px auto;}
  .p1-font{font-size: 20px;}
  .p2-font{font-size: 15px;}
}
@media screen and (max-width: 400px){
  .accordion{width: 95%;}
  .card-2{width: 95%;}
  .h1-font{font-size: 23px;}
  .p1-font{font-size: 19px;}
  .p2-font{font-size: 15px;}
}
.background-color-black{background-color: black!important;}
.background-color-pink{background-color: #B61E79!important;}
.background-color-grey{background-color: #F4EDED;}
.black:hover{border-bottom: 3px solid 00DBF9 !important;}
.border-black{border:1px solid black;}
.border-white{border:1px solid white;}
.border-magenta{border: 1px solid magenta;}
.btn-dark-mode{border: none; border-radius:20px;}
.btn-dark-mode:hover{border: 1px solid black;}
.btn-dark-mode:active{border: 1px solid black;}
.dark-mode{color: white; background-color: black;}
.img-round{border-radius: 30px !important;}
.img-width{width:2px; height: auto;}
.letter-spacing{letter-spacing: 1.5px;}
.navlink{color: #c4c4c4 !important; margin: 2px 10%;}
.navlink:hover{color: black !important; border-bottom: 3px solid #00DBF9; font-weight: bold !important;text-decoration:none;}
/*.navlink:active{color: red !important; border-bottom: 3px solid #00DBF9 !important; font-weight: bold !important;}*/
.quicksand{font-family: 'Quicksand', sans-serif;}
.text-shadow{text-shadow: 0px 4px 4px #b1b0b0;}
.text-underlined{text-decoration: underline;}
.ubuntu{font-family: 'Ubuntu', sans-serif;}
span{color: #B61E79; font-weight: bold;}

.App-logo {height: 40vmin;pointer-events: none;}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}